In [12]:
import numpy as np
import pandas as pd

In [24]:
test={"gender":["m","f","f","m","f","f"],
      "result":["pass","fail","pass","pass","fail","pass"]}
df=pd.DataFrame(test)

In [26]:
df.head()

  gender result
0      m   pass
1      f   fail
2      f   pass
3      m   pass
4      f   fail

In [28]:
x_df=pd.crosstab(df["gender"],df["result"])
x_df

result  fail  pass
gender
f          2     2
m          0     2

In [38]:
from scipy.stats import chi2_contingency
chi2,p,dof,expectancy=chi2_contingency(x_df)
print("Value of Chi2 is:",chi2)
print("Value of p is:",p)
print("Value of dof :",dof)
print("Value of expectancy",expectancy)
if p>0.05:
  print("There is association between gender and result(Fail to accept H0)")
else:
  print("There is no association between gender and result(accept H0)")

Value of Chi2 is: 0.09375000000000001
Value of p is: 0.7594628653799336
Value of dof : 1
Value of expectancy [[1.33333333 2.66666667]
 [0.66666667 1.33333333]]
There is association between gender and result(Fail to accept H0)