In [17]:
from scipy.stats import shapiro

In [ ]:
#example dataset
data=[1.2,1.8,2.4,1.9,2.1,2.6,1.7,1000,500,250]

#perform the Shapiro-wilk test
stat,p=shapiro(data)

In [7]:
import pandas as pd
import numpy as np

In [11]:
data = pd.read_csv("Salary_Data.csv")
df= pd.DataFrame(data)

In [13]:
df.describe()

       YearsExperience         Salary
count        30.000000      30.000000
mean          5.313333   76003.000000
std           2.837888   27414.429785
min           1.100000   37731.000000
25%           3.200000   56720.750000
50%           4.700000   65237.000000
75%           7.700000  100544.750000
max          10.500000  122391.000000

In [15]:
df.head()

   YearsExperience  Salary
0              1.1   39343
1              1.3   46205
2              1.5   37731
3              2.0   43525
4              2.2   39891

In [25]:
from scipy.stats import shapiro
import numpy as np

In [27]:
A= df["Salary"]
A

0      39343
1      46205
2      37731
3      43525
4      39891
5      56642
6      60150
7      54445
8      64445
9      57189
10     63218
11     55794
12     56957
13     57081
14     61111
15     67938
16     66029
17     83088
18     81363
19     93940
20     91738
21     98273
22    101302
23    113812
24    109431
25    105582
26    116969
27    112635
28    122391
29    121872
Name: Salary, dtype: int64

In [31]:
stat, p = shapiro(A)

# Print the results
print("Shapiro-Wilk Test Statistic:", stat)
print("p-value:", p)
if p > 0.05:
    print("The data is normally distributed (fail to reject H0)")
else:
    print("The data is not normally distributed (reject H0)")

Shapiro-Wilk Test Statistic: 0.9103154593927696
p-value: 0.015155591078390984
The data is not normally distributed (reject H0)

In [53]:
B= df["YearsExperience"]
B

0      1.1
1      1.3
2      1.5
3      2.0
4      2.2
5      2.9
6      3.0
7      3.2
8      3.2
9      3.7
10     3.9
11     4.0
12     4.0
13     4.1
14     4.5
15     4.9
16     5.1
17     5.3
18     5.9
19     6.0
20     6.8
21     7.1
22     7.9
23     8.2
24     8.7
25     9.0
26     9.5
27     9.6
28    10.3
29    10.5
Name: YearsExperience, dtype: float64

In [39]:
stat, p = shapiro(B)

# Print the results
print("Shapiro-Wilk Test Statistic:", stat)
print("p-value:", p)
if p > 0.05:
    print("The data is normally distributed (fail to reject H0)")
else:
    print("The data is not normally distributed (reject H0)")

Shapiro-Wilk Test Statistic: 0.9420625539372643
p-value: 0.10337645734315726
The data is normally distributed (fail to reject H0)

In [45]:
from scipy.stats import pearsonr

stat, p = pearsonr(A,B)

# Print the results
print("K**2 Statistic:", stat)
print("p-value:", p)
if p > 0.05:
    print("The data is normally distributed (fail to reject H0)")
else:
    print("The data is not normally distributed (reject H0)")

K**2 Statistic: 0.9782416184887599
p-value: 1.1430681092271567e-20
The data is not normally distributed (reject H0)

In [9]:


                                     #T-TEST

In [5]:
data1=[55,65,89,45,78,21,35,69,85,55,47,62,88]
data2=[65,88,52,45,22,36,96,69,54,12,80,54,30]

In [1]:
import numpy as np

In [7]:
a=np.mean(data1)
a=a
print("The actual mean is:",a)

The actual mean is: 61.07692307692308

In [9]:

from scipy.stats import ttest_ind
stat,pvalue=ttest_ind(data1,data2)
print(pvalue)
print(stat)
if 0.05>pvalue:
    print("The mean of both the sample are same(accept Ha)")
else:
    print("The mean of both the sample are different(accept Ho)")

0.45022060766925287
0.7675840952587548
The mean of both the sample are different(accept Ho)