In [5]:
import pandas as pd
import numpy as np

In [15]:
data={
   "height":[150,160,165,170,175,180,185],
   "weight":[50,55,60,65,70,75,80]
}
df=pd.DataFrame(data)
#we can create dataframe from dictonary

In [17]:
df.head(7)

   height  weight
0     150      50
1     160      55
2     165      60
3     170      65
4     175      70
5     180      75
6     185      80

In [21]:
correlation=df["height"].corr(df["weight"])
print(correlation)
#in correlation it ny default take kalespearson method

0.9922858194799439

In [25]:
correlation=df["height"].corr(df["weight"],method="spearman")
print(correlation)

1.0

In [31]:
df["rank1"]=df["height"].rank()
df["rank2"]=df["weight"].rank()
df.head()

   height  weight  rank1  rank2
0     150      50    1.0    1.0
1     160      55    2.0    2.0
2     165      60    3.0    3.0
3     170      65    4.0    4.0
4     175      70    5.0    5.0

In [49]:
df["D"]=df["rank1"]-df["rank2"]

In [51]:
df["D2"]=df["D"]**2

In [53]:
df.head()

   height  weight  rank1  rank2    d    D   d2   D2
0     150      50    1.0    1.0  0.0  0.0  0.0  0.0
1     160      55    2.0    2.0  0.0  0.0  0.0  0.0
2     165      60    3.0    3.0  0.0  0.0  0.0  0.0
3     170      65    4.0    4.0  0.0  0.0  0.0  0.0
4     175      70    5.0    5.0  0.0  0.0  0.0  0.0

In [55]:
sum_d2=df["D2"].sum()
sum_d2

0.0

In [57]:
n=len(df)
n

7

In [63]:
correlation_sp=1-((6*sum_d2)/((n**3)-n))
correlation_sp

1.0

In [91]:
height=df["height"].sum()
height
#we calculate sum of frequency in height column

1185

In [94]:
m_height=(df["height"].sum()/n)
m_height
#we find mean of height

169.28571428571428

In [96]:
f=(df["height"]-m_height)
f
#then we find x-mean of height

0   -19.285714
1    -9.285714
2    -4.285714
3     0.714286
4     5.714286
5    10.714286
6    15.714286
Name: height, dtype: float64

In [100]:
m=f**2
m
#then we find X-mean of height column

0    371.938776
1     86.224490
2     18.367347
3      0.510204
4     32.653061
5    114.795918
6    246.938776
Name: height, dtype: float64

In [102]:
import math
#importing math library to use some mathametical operators

In [104]:
std_height=math.sqrt(m.sum()/n)
std_height
#here we got our standard deviation

11.157499537009505

In [106]:
m_weight=df["weight"].sum()/n
m_weight
#mean of weight

65.0

In [108]:
w=(df["weight"]-m_weight)**2
w
#(x-mean)square

0    225.0
1    100.0
2     25.0
3      0.0
4     25.0
5    100.0
6    225.0
Name: weight, dtype: float64

In [114]:
std_weight=math.sqrt(w.sum()/n)
std_weight
#here we got our standard deviation

10.0